body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* Input joueur */

.playerName {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    margin-bottom: 20px;
    font-style: roboto;
}

.playerName .textLabel {
    font-size: 1rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
}

.playerName .textInput {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

.playerName .textInput:focus {
    outline: none;
}



/* Bouton ajouter */

.buttonContainer {
    display: flex;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}