input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* Input joueur */

.playerNameAdd {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    margin-bottom: 20px;
    font-style: roboto;
}

.playerNameAdd .textLabel {
    font-size: 1rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
}

.playerNameAdd .textInput {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

.playerNameAdd .textInput:focus {
    outline: none;
}



/* Bouton ajouter */

.buttonContainer {
    display: flex;
}

#addPlayerButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}



/* Joueurs items */

.listPlayers {
    width: 90%;
    margin-top: 40px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
}

.playerItem {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.chronoDurationInput {
    margin: 5px;
    width: 25px;
    height: 20px;
    text-align: center;
}

.barreVerte {
    margin-top: 15px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #12aa12;
    height: 23px;
    width: 90%;
    cursor: pointer;
}
.barreOrange {
    margin-top: 5px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #f09800;
    height: 23px;
    width: 70%;
    cursor: pointer;
}
.barreRouge {
    margin-top: 5px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #c50808;
    height: 23px;
    width: 45%;
    cursor: pointer;
}